section{
    height: 100vh;
    width: 100vw;
}

.main-card{
    width: 100%;
    height: 100%;
    background-color: var(--clr-cont);
    border-radius: 1em;
    box-shadow: 20px 20px 20px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2em;
    padding: 3em;
}

.title{
    flex: 2;
    text-align: center;
}

.signup-form{
    flex: 1;
    border-radius: 1em;
    background-color: var(--clr-white);
    height: 100%;
    width: 40%;
    gap: 2em;
}

.choice{
    text-align: center;
}

.form-entries{
    gap: 0.5em;
}