{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/complaints.css' %}">
{% endblock %}

{% block body %}

<section id="complaints">
    <div class="info flex-col">
        <div class="complaint-counter">
            <p>Complaints counter</p>
            <span class="complaint-count">
                <p>{{ count }}</p>
            </span>
        </div>
        <a href="#register">
            <button class="register-btn">
                <p>Register complaint</p>
            </button>
        </a>
        <a href="{% url 'login' %}">
            <button>
                <p>Logout</p>
            </button>
        </a>
    </div>
{% if complaints %}
    <h1>Registered Complaints</h1>
    <div class="container flex-col">
        {% for complaint in complaints %}
        <div class="card flex-col">
            <p>Title:</p>
            <div class="title">
                <p>{{ complaint.title }}</p>
            </div>
            <p>Complaint:</p>
            <div class="content">
                <p>{{ complaint.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <h1>You have no registered complaints...</h1>
{% endif %}
</section>
<section>
    <h1>Wish to register a complaint?</h1>
    <div class="card" id="register">
        <form method="POST" action="{% url 'register' username %}" id="newComplaint" class="flex-col">
            {% csrf_token %}
            <div class="form-field">
                <label for="complaintTitle">
                    <p>Complaint title:</p>
                </label>
                <input type="text" placeholder="Title..." id="complaintTitle" name="title">
            </div>
            <div class="form-field">
                <label for="complaintContent">
                    <p>Complaint:</p>
                </label>
                <textarea placeholder="Complaint..." id="complaintContent" name="content"></textarea>
            </div>
            <button type="submit">
                <p>Submit complaint</p>
            </button>
        </form>
    </div>
</section>
{% endblock %}