{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/complaints.css' %}">
{% endblock %}

{% block body %}

{% if complaints %}
<section>
    <h1>Registered Complaints</h1>
    <div class="flex-col">
        {% for complaint in complaints %}
        <div class="card flex-col">
            <div class="title">
                <p>{{ complaint.title }}</p>
            </div>
            <div class="content">
                <p>{{ complaint.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% else %}
<section>
    <h1>You have no registered complaints...</h1>
</section>
{% endif %}
<section>
    <h1>Want to register a complaint?</h1>
    <div class="card flex-col">
        <form method="POST" action="{% url 'register' username %}" id="newComplaint">
            {% csrf_token %}
            <div class="form-field">
                <label for="complaintTitle">
                    <p>Complaint title:</p>
                </label>
                <input type="text" placeholder="Title..." id="complaintTitle" name="title">
            </div>
            <div class="form-field">
                <label for="complaintContent">
                    <p>Complaint:</p>
                </label>
                <textarea placeholder="Content..." id="complaintContent" name="content"></textarea>
            </div>
            <button type="submit">
                <p>Submit complaint</p>
            </button>
        </form>
    </div>
</section>
{% endblock %}