{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/complaints.css' %}">
{% endblock %}

{% block body %}

{% if complaints %}
<section>
    <header>
        <h1>Registered Complaints</h1>
    </header>
    <div class="flex-col">
        {% for complaint in complaints %}
        <div class="card">
            <div class="title">
                <p>{{ complaint.title }}</p>
            </div>
            <div class="content">
                <p>{{ complaint.content }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% else %}
<section>
    <header>
        <h1>You have no registered complaints...</h1>
    </header>
</section>
{% endif %}
<section>
    <div class="flex-col">
        <div class="card">
            <h1>Want to register a complaint?</h1>
            <form method="POST" action="{% url 'register' username %}" id="newComplaint">
                {% csrf_token %}
                <div class="form-field">
                    <label for="complaintTitle">
                        <p>Complaint title:</p>
                    </label>
                    <input type="text" placeholder="Title..." id="complaintTitle" name="title">
                </div>
                <div class="form-field">
                    <label for="complaintContent">
                        <p>Complaint:</p>
                    </label>
                    <textarea placeholder="Content..." id="complaintContent" name="content"></textarea>
                </div>
                <button type="submit">Submit complaint</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}