{% extends 'base.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
{% endblock %}

{% block body %}
<section>
    <div class="main-card">
        <h1 class="title">Customer Feedback Management System</h1>
        <form method="POST" action="{% url 'login' %}"  class="signup-form">
            <div class="choice">
                <h1>Signup/Login</h1>
            </div>
            {% csrf_token %}
            <div class="form-entries">
                <label for="user-email">
                    <p>Email id:</p>
                </label>
                <input type="email" id="user-email" name="username" required>
                <label for="user-password">
                    <p>Password:</p>
                </label>
                <input type="password" id="user-password" name="password" required>
            </div>
            <button type="submit">
                <p>Login</p>
            </button>
        </form>
    </div>
</section>
{% endblock %}